.footer{
	background: #4a4a4a;
	// height: $footer-height;
	margin-top: 56px;

	.container {
		display: flex;
		justify-content: space-between;
		padding: 54px 20px 37px 20px;
	}
	&__left {
		
		img {
			width: 135px;
			margin-bottom: 3px;
		}
	}
	&__right {
		padding-top: 12px;
		.footer__text {
			margin-bottom: 11px;
			a {
				margin-left: 9px;
			}
		}
	}
	&__text {
		font-family: Lato;
		font-size: 18px;
		font-weight: bold;
		line-height: 1.56;
		letter-spacing: 0.5px;
		color: #ffffff;
	}
}