.header {
    background: url(../img/png/header.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: $header-height;
    padding-top: 55px;
    background-position: center;

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; // position: relative;
        &.top {
            padding: 0 38px 0 33px;
        }
        &.middle {
            padding-top: 63px;
            padding-left: 201px;
            position: relative;
        }
        &.bottom {
            justify-content: flex-end;
        }
    }
    .socials {
        position: absolute;
        display: flex;
        justify-content: space-between;
        font-family: BebasNeue;
        left: 56px;
        top: 17px;
        bottom: 0;
        margin: auto;
        transform: rotate(90deg);
        width: 126px;
        height: 0;
        transform-origin: left top 0;
        a {
            font-size: 12px;
            color: #023753;
            letter-spacing: 1.5px; // transition: 0.2s;
            // font-weight: 400;
            position: relative;
            &:hover {
                color: #000;
                font-weight: 600;
            }
        }
        b {
            font-size: 10px;
            line-height: 14px;
        }
    }
    .logo {
        width: 155px;
        img {
            width: 100%;
        }
    }
    .subtitle {
        font-family: BebasNeue;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.5px;
        color: #023753;
        text-transform: uppercase;
        width: 100%;
    }
    .title {
        margin-top: 21px;
        width: 65%;
        font-family: BebasNeue;
        font-size: 74px;
        font-weight: bold;
        line-height: 1;
        color: #023753;
        text-transform: uppercase;
    }
    ul {
        width: 100%;
        margin-top: 41px;
        margin-left: -6px;

        li {
            font-family: Lato;
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            color: #023753;
            position: relative;
            display: flex;
            align-items: center;
            b {
                font-size: 28px;
                margin-right: 14px;
            }
        }
    }
    .phone {
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(98deg, #215878, #2094d5);
        font-family: BebasNeue;
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 3.3px;
        text-align: center;
        padding: 25px 10px 0 0; // background-clip: text;
        // -webkit-text-fill-color: transparent;
        transition: 0.3s;
        &:hover {
            background-image: linear-gradient(98deg, darken(#215878, 10%), darken(#2094d5, 10%));
        }
    }
    .main-form {
        margin-top: 78px;
    }
}