body {
    // font-family: 'ProximaNova', sans-serif;
    min-width: 320px;
    font-family: 'Lato', sans-serif; // background: #516173;
    // padding: 13px 23px 10px 23px;
}

main {
    // min-height: calc(100% - #{$footer-height});
    // margin-bottom: 15px;
}

.container {
    max-width: 1190px;
    padding: 0 40px;
    margin: auto;
}

.phone-number {
    &:hover {
        text-decoration: underline;
    }
}

.title-2 {
    color: #f48a31;
    font-family: BebasNeue;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.title-small {

    font-family: BebasNeue;
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #4a4a4a;
    text-transform: uppercase;
    &.strong {
        font-size: 14px;
        letter-spacing: 2.5px;
    }
}

.video-banner {
    height: 138px;
    position: relative;
    background: url(img/png/berkeley.jpg);
    background-size: cover;
    background-position: center;

    .container {
        height: 100%;
        position: relative;
        display: flex;
        align-items: center; // justify-content: space-between;
        padding-left: 136px;
    }
    &__text {
        cursor: pointer;
        font-family: BebasNeue;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 3px;
        color: #ffffff;
        text-transform: uppercase;
    }
    &__btn {
        cursor: pointer;
        margin-right: 17px;
        img {
            width: 80px;
        }
    }
}

.bonus {
    position: absolute;
    top: -42px;
    right: 40px;
    background: #023753;
    padding: 13px 20px 13px 30px;
    display: flex;
    align-items: center;
    width: 474px;
    &.mobile {
        position: static;
        width: 100%;
        padding: 13px 20px 13px 20px;
        .bonus__title {
            font-size: 30px;
        }
        .bonus__text {
            font-size: 20px;
        }
    }
    &__text {
        font-family: BebasNeue;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1.5px;
        line-height: 30px;
        color: #ffffff;
        text-transform: uppercase;
    }
    &__title {
        margin-right: 18px;
        height: 43px;
        font-family: BebasNeue;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 1px;
        color: #ffffff;
    }
}

.usefull {
    margin-top: 71px;
    .title-2 {
        margin-top: 27px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        &_item {
            width: calc(100%/3 - 50px);
            $c: &;
            &:hover {
                #{$c}_img {
                    &.first {
                        background: url(img/png/img_1_hover.png) no-repeat;
                    }
                    &.second {
                        background: url(img/png/img_2_hover.png) no-repeat;
                    }
                    &.third {
                        background: url(img/png/img_3_hover.png) no-repeat;
                    }
                }
            }
            &_text {
                font-family: BebasNeue;
                font-size: 36px;
                line-height: 1.06;
                color: #050d31;
                padding: 14px 0;
                text-transform: uppercase;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    background-color: #f3f3f3;
                    width: 98%;
                    height: 100%;
                    top: 0;
                    left: 37px;
                    z-index: -1;
                }
            }
            &_img {
                margin: auto;
                width: 250px;
                height: 253px;
                background-size: cover!important;
                transition: background 0.3s ease;
                &.first {
                    background: url(img/png/img_1_no_active.png) no-repeat;
                    &:hover {
                        background: url(img/png/img_1_hover.png) no-repeat;
                    }
                }
                &.second {
                    background: url(img/png/img_2_no_active.png) no-repeat;
                    &:hover {
                        background: url(img/png/img_2_hover.png) no-repeat;
                    }
                }
                &.third {
                    background: url(img/png/img_3_no_active.png) no-repeat;
                    &:hover {
                        background: url(img/png/img_3_hover.png) no-repeat;
                    }
                }
            }
        }
    }
}

.advantages {
    margin-top: 70px;
    .container {
        position: relative;
    }
    .title-small {
        text-align: right;
    }
    &__wrapper {
        display: flex;
        margin-top: 30px;
        .title-2 {
            width: 50%;
            text-align: right;
            margin-top: -10px;
        }
    }
    &__list {
        padding-top: 30px;
        top: 203px;
        width: 599px;
        background: #fff;
        right: 40px;
        position: absolute;
        z-index: 10;
        box-shadow: 1px 1px 21px -7px #000;
        border-radius: 3px;
        overflow: hidden;
        &_item {
            padding: 17px 15px 8px 40px;
            display: flex;
            $c: &;
            &:nth-child(1) #{$c}_img:after {
                background: url(img/svg/web.svg);
                background-size: cover;
                width: 66px;
                height: 56px;
                left: -4px;
                top: -25px;
            }
            &:nth-child(2) #{$c}_img:after {
                background: url(img/svg/close.svg);
                background-size: cover;
                width: 41px;
                height: 41px;
                left: -1px;
                top: -25px;
            }
            &:nth-child(3) #{$c}_img:after {
                background: url(img/svg/faq.svg);
                background-size: cover;
                width: 64px;
                height: 55px;
                left: -4px;
                top: -30px;
            }
            &:nth-child(4) #{$c}_img:after {
                background: url(img/svg/homework.svg);
                background-size: cover;
                width: 42px;
                height: 40px;
                left: -10px;
                top: -30px;
            }
            &_img {
                min-width: 60px;
                height: 60px;
                margin-right: 3px;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    display: block;
                }
            }
            &_title {

                font-family: Lato;
                font-size: 18px;
                letter-spacing: 0.5px;
                color: #9b9b9b;
                b {
                    color: #023753;
                    display: block;
                }
            }
        }
    }
    &__bg {
        img {
            width: 650px;
            height: 473px;
        }
    }
    .bonus {
        width: 100%;
        position: static;
        margin-top: 17px;
        &__title {
            margin-right: 29px;
        }
    }
}

.ranks {
    margin-top: 211px;
    overflow: hidden;
    .title-2 {
        margin-top: 38px;
    }

    &__steps {
        padding: 0 95px;
        margin-top: 66px;
        user-select: none; // overflow: hidden;
        position: relative;
        &.mobile {
            margin-top: 0px;
            .ranks__steps_tabs_item {
                margin: 25px 0 10px 0;
            }
            .ranks__steps_item {
                height: auto;
            }
        }
        &_content {
            margin-top: 15px;
            overflow: hidden;
            font-size: 0;
            width: 100%;
        }
        &_tabs {
            display: flex;
            &_item {
                margin-right: 36px;
                font-family: BebasNeue;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 2px;
                color: #023753;
                cursor: pointer;
                transition: .3s;
                text-transform: uppercase;
                &.active {
                    color: #f48a31;
                }
            }
        }
        &_scroller {
            display: flex;
            transition: 0.3s;
        }
        &_arrows {

            &_left,
            &_right {
                position: absolute;
                top: 35px;
                margin: auto;
                bottom: 0;
                height: 14px;
                width: 26px;
                cursor: pointer;
                transition: 0.1s;
                img {
                    width: 100%;
                }
                &:hover {
                    transform: scale(1.1);
                }
                &:before {
                    content: '';
                    width: calc(100% + 20px);
                    height: calc(100% + 20px);
                    top: -10px;
                    left: -10px;
                    position: absolute;
                }
                &.hidden {
                    opacity: 0;
                    visibility: hidden;
                }
            }
            &_left {
                left: 25px;
            }
            &_right {
                right: 25px;
            }
        }
        &_item {
            // display: none;
            // &.active {
            //     display: block;
            // }
            padding: 30px;
            background-color: rgba(155, 155, 155, 0.1);
            min-width: 100%;
            position: relative;
            height: 475px;
            &_number {
                position: absolute;
                font-family: BebasNeue;
                font-size: 300px; // line-height: 170px;
                font-weight: bold;
                color: #d8d8d8;
                top: 0px;
                left: 30px; // letter-spacing: -30px;
                pointer-events: none;
            }
            ul {
                margin-top: 208px;
                margin-left: 111px;
                position: relative; // position: absolute;
                // bottom: 20px;
                li {
                    font-family: 'Lato';
                    font-size: 24px; // line-height: 1.46;
                    letter-spacing: 1.5px;
                    color: #4a4a4a;
                    line-height: 32px;
                    b {
                        font-size: 32px;
                        margin-right: 4px;
                    }
                }
            }
        }
    }
    &__descr {
        font-family: BebasNeue;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #023753;
        margin-top: 67px;
        text-transform: uppercase;
        margin: 67px auto 0;
        width: 83%;
    }
    &__subscribe {

        font-family: BebasNeue;
        font-size: 29px;
        font-weight: bold;
        letter-spacing: 3.6px;
        color: #f48a31;
        margin: 26px 0px 4px 96px;
        width: 83%;
        img {
            height: 20px;
            margin-left: 10px;
            width: 26px;
        }
    }
}


.main-form {
    background: #f48a31;
    padding: 13px 17px 14px 21px;
    width: 860px;
    justify-content: space-between;
    display: flex;
    &.secondary {
        background: none;
        margin: auto;
    }
    .btn {
        width: 115px;
        height: 38px;
    }

    input {

        width: 225px;
        outline: none;
        height: 38px;
        padding: 0 10px;
        border-radius: 2px;
        border: 1px solid #215878;
        background: #fff; // background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(100deg, #215878, #2094d5);
        // background-origin: border-box;
        // background-clip: content-box, border-box;
        // &.invalid {
        //     background: red;
        // }
        // &.valid {
        //     background: green;
        // }
        &:focus {
            outline: none;
        }
        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            font-family: BebasNeue;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1.5px;
            color: rgba(155, 155, 155, 0.46);
            text-transform: uppercase;
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            font-family: BebasNeue;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1.5px;
            color: rgba(155, 155, 155, 0.46);
            text-transform: uppercase;
        }

        &::-ms-input-placeholder {
            /* Microsoft Edge */
            font-family: BebasNeue;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1.5px;
            color: rgba(155, 155, 155, 0.46);
            text-transform: uppercase;
        }
    }
}

.btn {
    // width: 115px;
    // height: 38px;
    padding: 0 20px;
    border-radius: 2px;
    font-family: BebasNeue;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #ffffff;
    background-image: linear-gradient(108deg, #215878, #2080b5 66%, #2094d5);
}

// [data-tabs-content] {
//     display: none;
//     &.active {
//         display: block;
//     }
// }
// .canvas {
//     height: 400px;
// }
// @keyframes slideinUp {
//     from {
//         transform: translateY(400px);
//         opacity: 0;
//         visibility: hidden;
//     }
//     to {
//         transform: translateY(0);
//         opacity: 1;
//         visibility: visible;
//     }
// }
// @keyframes slideinRight {
//     from {
//         transform: translateX(100%);
//         opacity: 0;
//         visibility: hidden;
//     }
//     to {
//         transform: translateY(0);
//         opacity: 1;
//         visibility: visible;
//     }
// }
// @keyframes slideinLeft {
//     from {
//         transform: translateX(-100%);
//         opacity: 0;
//         visibility: hidden;
//     }
//     to {
//         transform: translateY(0);
//         opacity: 1;
//         visibility: visible;
//     }
// }